In [37]:
import pandas as pd

df=pd.read_excel("PreProcess.xlsx").drop("Unnamed: 0",axis=1)
df.head()

,product-card-simple-title,url,Category,Is_Leasable
0,Columbia Sportswear Men's Dallas Cowboys PFG M...,https://www.academy.com/shop/pdp/columbia-spor...,NaN,NaN
1,Nike Men's Dallas Cowboys Air Zoom Pegasus 38 ...,https://www.academy.com/shop/pdp/nike-mens-dal...,NaN,NaN
2,Logo Dallas Cowboys Stadium Seat,https://www.academy.com/shop/pdp/logo-dallas-c...,NaN,NaN
3,Victory Tailgate Dallas Cowboys Bean Bag Toss ...,https://www.academy.com/shop/pdp/victory-tailg...,NaN,NaN
4,NFL Toddler Girls' New Orleans Saints Cheer Ca...,https://www.academy.com/shop/pdp/nfl-toddler-g...,NaN,NaN

In [38]:
df=df.fillna("None")
df.groupby("Category").count()

                         product-card-simple-title   url  Is_Leasable
Category
Archery                                       2110  2110         2110
Backpacks + Bags                               857   857          857
Backyard Games                                1169  1169         1169
Baits + Lures                                 2257  2257         2257
Baseball                                      2021  2021         2021
...                                            ...   ...          ...
boating                                       2419  2419         2419
camping                                       4204  4204         4204
first-page-cats                                  5     5            5
grills--outdoor-cooking                        741   741          741
water-sports                                  1449  1449         1449

[82 rows x 3 columns]

In [39]:
def categorize(string):
    string= "".join(str(string).split()).lower()
    if "boot" in string or "kini" in string or "swim" in string or "suit" in string or "gaiter" in string or "tote" in string or "sock" in string or "slipper" in string or "sandal" in string or "buckle" in string or "short" in string or "flag" in string or "dress" in string or "man" in string or "woman" in string or "girl" in string or "boy" in string or "jacket" in string or "pant" in string or "shirt" in string or "mask" in string or "glove" in string or "strap" in string or "jacket" in string or "jersey" in string or "socks" in string or "shoe" in string or "boot" in string or "neck" in string or "brace" in string or "beanie" in string or "guard" in string or "pad" in string or "protect" in string or "hood" in string or "vest" in string or "top" in string or "tank" in string or "hat" in string or "gait" in string or "zip" in string or "pen" in string or "cap" in string or "shoe" in string or "shirt" in string or "hat" in string or "scarf" in string or "infant" in string:
        return "apparel"
    elif "chair" in string or "table" in string or "seat" in string or "beanbag" in string or "bbq" in string or "grill" in string:
        return "Furniture"
    elif "cool" in string or "mug" in string or "tumbler" in string or "bottle" in string or "sportula" in string or "coozie" in string or "open" in string or "hold" in string:
        return "Coolers + Drinkware"
    elif "tool" in string:
        return "Tools"
    elif "magazine" in string or "ammunition" in string or "shell" in string or "bullet" in string:
        return "Ammunitions"
    elif "pistol" in string or "rifle" in string and "case" not in string:
        return "Arms"
    elif "case" in string or "pouch" in string:
        return "Weapon-cases"

    else:
        pass

In [40]:
df_1=df[df["Category"]!="None"]
df_2=df[df["Category"]=="None"]

In [41]:
df_2["Category"]=df_2["product-card-simple-title"].apply(categorize)
df_2.groupby("Category").count()

<ipython-input-41-3f8b5002d185>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Category"]=df_2["product-card-simple-title"].apply(categorize)

                     product-card-simple-title    url  Is_Leasable
Category
Ammunitions                               1403   1403         1403
Arms                                      2562   2562         2562
Coolers + Drinkware                        598    598          598
Furniture                                  266    266          266
Tools                                       47     47           47
Weapon-cases                               216    216          216
apparel                                  41933  41933        41933

In [42]:
# Concatenate all data into one DataFrame
big_df = pd.concat([df_1,df_2], ignore_index=True)
big_df

,product-card-simple-title,url,Category,Is_Leasable
0,None,None,Backpacks + Bags,None
1,None,None,Backpacks + Bags,None
2,None,None,Backpacks + Bags,None
3,None,None,Backpacks + Bags,None
4,None,None,Backpacks + Bags,None
...,...,...,...,...
158592,Magellan Outdoors Men's Yampa Sandals ...,None,apparel,None
158593,Under Armour Women's Marbella V Slides ...,None,None,None
158594,Under Armour Men's Atlantic Dune Flip-Flop San...,None,apparel,None
158595,Under Armour Girls' Marbella Flip-Flops ...,None,apparel,None
158596,O'Rageous Girls' AquaToes Water Shoes ...,None,apparel,None

In [45]:
big_df[big_df["product-card-simple-title"]!="None"].to_excel("big_df.xlsx")